<!-- Featured Blogs Section -->
<div class="featured-blogs">
    <h2>Our Featured <br>Blogs</h2>
    <div class="blogs-container">
      <div class="blog-card">
        <!-- <img src="../../assets/blog1.jpg" alt="Blog 1"> -->
        <h3>Mastering the Art of Baking</h3>
        <p>Discover the secrets behind perfect pastries and cakes with our top baking tips.</p>
        <a href="#" class="read-more">Read More</a>
      </div>
      <div class="blog-card">
        <!-- <img src="../../assets/blog2.jpg" alt="Blog 2"> -->
        <h3>Healthy Eating Tips</h3>
        <p>Learn how to make nutritious and delicious meals that your whole family will love.</p>
        <a href="#" class="read-more">Read More</a>
      </div>
      <div class="blog-card">
        <!-- <img src="../../assets/blog3.jpg" alt="Blog 3"> -->
        <h3>Exploring Global Cuisines</h3>
        <p>Take a culinary journey with our collection of international dishes.</p>
        <a href="#" class="read-more">Read More</a>
      </div>
    </div>
  </div>