.hero-container {
    display: flex;
    margin-top: 4.3rem;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    --s: 100px; 
    --c1: #b9b9b9;
    --c2: #dcdcdc;
    --c3: #fafafa;
    background-color: #F5F5F5;
    /* background: conic-gradient(
            from 75deg,
            var(--c1) 15deg,
            var(--c2) 0 30deg,
            #0000 0 180deg,
            var(--c2) 0 195deg,
            var(--c1) 0 210deg,
            #0000 0
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) / 0.577),
        conic-gradient(
        var(--c1) 30deg,
        var(--c3) 0 75deg,
        var(--c1) 0 90deg,
        var(--c2) 0 105deg,
        var(--c3) 0 150deg,
        var(--c2) 0 180deg,
        var(--c3) 0 210deg,
        var(--c1) 0 256deg,
        var(--c2) 0 270deg,
        var(--c1) 0 286deg,
        var(--c2) 0 331deg,
        var(--c3) 0
    ); */
    background-size: var(--s) calc(var(--s) / 0.577);
    border-radius: 5px;
  }
  
  .text-content {
    flex: 1;
    padding-right: 20px;
    color: #333333;
    z-index: 1;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .view-recipes-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #800020;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-recipes-btn:hover {
    background-color: #66001a;
    transition: transform 0.5s ease-in-out;
  }
  
  .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    margin-top: 5rem;
    border-radius: 30% 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .graphics {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes spin {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
  }
  @media (max-width: 768px) {
    .hero-container {
      flex-direction: column;
      text-align: center;
      width: 100%;
    }
  
    .text-content {
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .image-content img {
      width: 100%;
    }
  
    .graphics {
      display: none;
    }
  }

  .statistics {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #FFFFFF
  }
  
  
  .stat-card {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 12rem;
    height: 8rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  
  .stat-card:hover {
    transform: scale(1.1) translateZ(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .stat-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #800020; 

  }
  
  .stat-card p {
    margin-top: 0rem;
    font-size: 1.5rem;
    color: #800020;
  }
  
  @media (max-width: 768px) {
    .statistics {
      flex-direction: column;
      align-items: center;
    }
  
    .stat-card {
      margin-bottom: 20px;
      width: 50%;
    }
  }

