<div class="container">
    <div class="text-content">
      <h1>Discover Delicious Recipes with Homes Recipe!</h1>
      <p>Explore our collection of easy-to-follow recipes and cooking tips to elevate your culinary skills!</p>
      <button class="view-recipes-btn">Start Cooking!</button>
    </div>
    <div class="image-content">
      <img src="../../assets/herosImage.gif" alt="Cooking Gif" />
    </div>
  </div>
  <div class="container-2">
  <div class="statistics">
    <div class="stat-card">
      <span class="stat-number" appScrollTrigger [targetNumber]="100">0</span>+
      <p>Recipes</p>
    </div>
    <div class="stat-card">
      <span class="stat-number" appScrollTrigger [targetNumber]="10000">0</span>+
      <p>Ingredients</p>
    </div>
    <div class="stat-card">
      <span class="stat-number" appScrollTrigger [targetNumber]="1000">0</span>+
      <p>Cultures</p>
    </div>
    <div class="stat-card">
      <span class="stat-number" appScrollTrigger [targetNumber]="100">0</span>+
      <p>Users</p>
    </div>
  </div>
</div>
  