<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/"><img src="../../assets/logo.png" alt="Logo" class="logo"></a>
  </div>
  <ul class="navbar-links" [ngClass]="{'active': isNavbarOpen}">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">
        <i class="fas fa-home"></i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" class="nav-link">
        <i class="fas fa-utensils"></i>
        Recipes
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/faqs" class="nav-link">
        <i class="fas fa-question-circle"></i>
        FAQ
      </a>
    </li>
    <li *ngIf="session" class="nav-item">
      <a routerLink="/profile" class="nav-link">
        <i class="fas fa-user"></i>
        Profile
      </a>
    </li>
  </ul>
  <div class="action-button" [ngClass]="{'active': isNavbarOpen}">
      <button (click)="signOut()" routerLink="/" class="btn-primary"  *ngIf="session">Sign Out</button>
    <a routerLink="/register">
      <button class="btn-primary"  *ngIf="!session"> Sign Up</button>
    </a>
  </div>
  <button class="navbar-toggle" (click)="toggleNavbar()">
    <svg
      class="menu-icon"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path
        *ngIf="!isNavbarOpen"
        strokeLinecap="round"
        strokeLinejoin="round"
        strokeWidth="2"
        d="M4 6h16M4 12h16m-7 6h7"
      />
      <path
        *ngIf="isNavbarOpen"
        strokeLinecap="round"
        strokeLinejoin="round"
        strokeWidth="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>
</nav>
