
.sign-up {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background-color: #C9DABF;
    width: 400px;
}
.form{
    width: 100%;
}


.form-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #5F6F65;
}

.form-control {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-control label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #5F6F65;
}
.form-control .error{
  color: red;
}
.form-control input {
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control input:focus {
    border-color: #5F6F65;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn-primary, .btn-secondary {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    border: none;
    color: #fff;
}

.btn-primary {
    background-color: #5F6F65;
}

.btn-primary:hover {
    background-color: #9CA986;
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
    background-color: #7A8B74;
}

.btn-secondary:hover {
    background-color: #9CA986;
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
