<div class="body">
    <div class="container">
      <div class="welcome-section">
        <h1>Welcome!</h1>
        <p>Sign up to spice up your life!</p>
        <div class="buttons">
          <button type="button" (click)="loginWithProvider('google')" class="google">Google</button>
          <button type="button" (click)="loginWithProvider('github')"  class="github">Github</button>
        </div>
      </div>
      <div class="divider">
        <p>or</p>
      </div>
      <div class="sign-up">
        <form class="form" [formGroup]="form" (ngSubmit)="onSignUp()" action="">
          <div class="form-control">
            <label for="first-name">First Name</label>
            <input
              [ngStyle]="{border:firstName.hasError('required') && firstName.touched? '2px solid red' :''}"
              formControlName="firstName"
              type="text"
              id="first-name"
              placeholder="Enter first name"
              autocomplete
            />
          </div>
          <div class="form-control">
            <label for="last-name">Last Name</label>
            <input
              [ngStyle]="{border:lastName.hasError('required') && lastName.touched? '2px solid red' :''}"
              formControlName="lastName"
              type="text"
              id="last-name"
              placeholder="Enter last name"
              autocomplete
            />
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input
              [ngStyle]="{border:email.hasError('required') && email.touched ?'2px solid red':''}"
              formControlName="email"
              type="email"
              id="email"
              placeholder="Enter email"
              autocomplete
            />
            <div *ngIf="email.hasError('pattern') && email.touched">
              <p class="error">Invalid email</p>
            </div>
          </div>
          <div class="form-control">
            <label for="password">Password</label>
            <input
              [ngStyle]="{border:password.hasError('required') && password.touched? '2px solid red' :''}"
              formControlName="password"
              type="password"
              id="password"
              placeholder="Enter password"
              autocomplete
            />
            <div *ngIf="password.hasError('minLength') && password.touched">
              <p class="error">Short password</p>
            </div>
          </div>
          <div class="form-buttons">
            <button
              [disabled]="form.invalid"
              [ngStyle]="{cursor:form.valid ? 'pointer':'not-allowed'}"
              type="submit"
              class="btn-primary"
            >
              Sign up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  